<%= form_tag('/user/forgot_password', { class: 'form-horizontal', id: 'forgot-password-form', method: 'post'}) do %>
	<div style="text-align:center" id="stylized" class="myform" >
		<h3>Forgot your password?</h3><br>

		<label>EMAIL</label>
		<%= email_field_tag 'email'%>
		<label id="user_email-error" class="error" for="user_email"></label>

		<label>ANSWER</label>
		<%= text_field_tag 'answer' %>
		<label id="user_answer-error" class="error" for="user_answer"></label>

		<label>NEW PASSWORD</label>
		<%= password_field_tag 'password' %>
		<label id="user_password-error" class="error" for="user_password"></label>

		<label>CONFIRM NEW PASSWORD</label>
		<%= password_field_tag 'password_confirmation' %>
		<label id="user_password_confirmation-error" class="error" for="user_password_confirmation"></label>
		
		<button style="margin-top:20px" class="btn btn-primary">SUBMIT</button><br>

		<!-- Notification messages. -->
		<% flash.each do |k, v| %>
			<div id="<%= k %>">
				<p>
					<b><%= v %></b>
				</p>
			</div>
		<% end %>

	</div>
<% end %>

<!-- Include the jQuery Validation plugin. -->
<script src="/assets/jquery.validate.min.js" ></script>
<script src="/assets/additional-methods.min.js"></script>

<!-- Include the form validation rules. -->
<script src="/assets/validate_forgot_password_form.js"></script>