<%- title "Register" %>

<%= form_for :user, html: {class: "form-horizontal", id: 'register-form'} do |f| %>
	<div style="text-align:center" id="stylized" class="myform" >
		<h2>Create a free account today.</h2><br>

		<label>FIRST NAME</label>
		<%= f.text_field :first_name, html: {placeholder: '', class: 'input-xlarge'} %>
		<label id="user_first_name-error" class="error" for="user_first_name"></label>

		<label>LAST NAME</label>
		<%= f.text_field :last_name, html: {placeholder: '', class: 'input-xlarge'} %>
		<label id="user_last_name-error" class="error" for="user_last_name"></label>

		<label>EMAIL</label>
		<%= f.email_field :email, html: {placeholder: '', class: 'input-xlarge'} %>
		<label id="user_email-error" class="error" for="user_email"></label>

		<label>PASSWORD</label>
		<%= f.password_field :password, html: {placeholder: '', class: 'input-xlarge'} %>
		<label id="user_password-error" class="error" for="user_password"></label>

		<label>PASSWORD (CONFIRM)</label>
		<%= f.password_field :password_confirmation, html: {placeholder: '', class: 'input-xlarge'} %>
		<label id="user_password_confirmation-error" class="error" for="user_password_confirmation"></label>

		<label>SECURITY QUESTION</label>
		<%= f.text_field :question, html: {placeholder: '', class: 'input-xlarge'} %>
		<label id="user_first_name-error" class="error" for="user_first_name"></label>

		<label>ANSWER</label>
		<%= f.text_field :answer, html: {placeholder: '', class: 'input-xlarge'} %>
		<label id="user_last_name-error" class="error" for="user_last_name"></label>


		<div style="margin:auto; float:left; width: 400px; height:40px;">
			<!-- Radio buttons that determine what kind of confirmation email to send. -->
			<label style="width:235px">EMAIL DELIVERY PREFERENCE</label>
			<% ['HTML', 'text'].each do |type| %>
				<%= f.radio_button :email_type, type, checked: type == 'HTML' %>
				<%= label_tag "email_type_html[#{type}]", type, class: 'email_label' %>
			<% end %>
		</div>

		<div style="padding-left:120px; margin:auto; float:left; height:30px;">
			
			<label for="terms" class="label_terms"> 
				I accept the <%= link_to 'term and conditions', '/user/terms', target: '_blank', class: 'terms_link' %>
			</label>
			<%= check_box_tag :terms %>
			
		</div>
		<label id="terms-error" class="error" for="terms" style="width:350px;"></label>

		<button style="margin-top:20px" class="btn btn-primary">REGISTER</button>

		<!-- Registration error messages. -->
		<% flash.each do |k, v| %>
			<div id="<%= k %>">
				<p>
					<b><%= v %></b>
				</p>
			</div>
		<% end %>

	</div>
<% end %>

<script>
    if (sessionStorage.getItem("colors"))
    {
        var c = jQuery.parseJSON(unescape(sessionStorage.getItem("colors")));
        $('input').css({"border-color":c["p_hex"]});
        $('.error').css({"color":c["p_hex"]});
        $('.terms_link').css({"color":c["p_hex"]});
        $('.btn-primary').css({"background-color":c["p_hex"]});
    }
</script>
 
<!-- Include the jQuery Validation plugin. -->
<script src="/assets/jquery.validate.min.js" ></script>
<script src="/assets/additional-methods.min.js"></script>

<!-- Include the form validation rules. -->
<script src="/assets/validate_register_form.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61563557-1', 'auto');
    ga('send', 'pageview');

</script>
