<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Cents" %></title>
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/ripples.min.css" rel="stylesheet">
    <link href="/assets/material-wfont.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

    <script src="/assets/jquery-1.11.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body id="main_body" style="height: 950px">


<!--Navigation Bar -->

<div class="navbar navbar-cents">
   
    <div class="navbar-header">
        <a href="/"><img class="cents-logo" src="/assets/logo trans white.png" height="109" width="259"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
        <!--check session variables to see if logged in -->
            <% if current_user %>
                <li><a id="profile_nav" href="/user/profile"><%= current_user.first_name.upcase %></a></li>
                <li><a id="logout_nav" href="/user/logout">LOGOUT</a></li>
            <% else %>
                <li><a id="login_nav" href="/user/login">LOG IN</a></li>
                <li><a id="register_nav" href="/user/register">REGISTER</a></li>
            <% end %>
            <li><a id="home_nav" href="/">HOME</a></li>
            <li><a id="examples_nav" href="/info/examples">EXAMPLES</a></li>
            <li><a id="wizard_nav" href="/wizard/start">WIZARD</a></li>
            <li><a id="help_nav" href="/info/help">HELP</a></li>
            <li><a id="about_nav" href="/info/about">ABOUT</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ><img src="/assets/search white.png" height="15" width="15"></a>
                <ul class="dropdown-menu">
                    <form>
                        <input type="text" class="blank-search" id="drop-search">
                        <button class="arrow-button" onclick="api_request(document.getElementById('drop-search').value); return false;"><img src="/assets/arrow white.png" height="15" width="15"></button>
                    </form>
                </ul>
                
            </li>
        </ul>
    </div>
</div>

<script>
    if (localStorage.getItem("colors"))
    {
        var c = jQuery.parseJSON(unescape(localStorage.getItem("colors")));
        $('.navbar-cents').css({"background-color":c["p_hex"]});
        $('.dropdown-menu').css({"background-color":c["p_hex"]});
    }
</script>


<%= yield %>

<!-- Your site ends -->
    <script src="/assets/ripples.min.js"></script>
    <script src="/assets/material.min.js"></script>
    <script>
        $(document).ready(function() {
            $.material.init();
        });
    </script>

    <script src="/assets/processing.js"></script>
    <script src="/assets/application.js"></script>
    <script src="/assets/jquery-ui.js"></script>
    <% if current_user %>
        <script>
            user_id = <%= current_user.id %>;
            //api_key = <%= current_user.api_key %>;
            api_key = "re5-fHO6-5CnUSglEAioWg";
        </script>   
    <% end %>

</body>
</html>
