<!DOCTYPE html>
<html>
<% if current_user %>
<script>
    if (!sessionStorage.getItem("colors"))
    {   
        //build rgb values
        var hex_1, hex_2;
        if ("<%= current_user.primary_color %>" == "")
            hex_1 = "#884412";
        else
            hex_1 = "<%= current_user.primary_color.to_s %>";
        if ("<%= current_user.secondary_color.to_s %>" == "")
            hex_2 = "#8A8889";
        else
            hex_2 = "<%= current_user.secondary_color.to_s %>";
        var new_colors = {};//{"p_hex":hex_1, "s_hex":hex_2, "p_rgb":hexToRgb(hex_1), "s_rgb":hexToRgb(hex_2)};
        new_colors["p_hex"] = hex_1;
        new_colors["p_rgb"] = hexToRgb(hex_1);
        new_colors["s_hex"] = hex_2;
        new_colors["s_rgb"] = hexToRgb(hex_2); 
        //console.log(new_colors);
        sessionStorage.setItem("colors", JSON.stringify(new_colors));
    }
    function hexToRgb(hex) {
        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? [parseInt(result[1], 16), parseInt(result[2], 16), parseInt(result[3], 16)] : null;
    };
</script>
<% end %>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Cents" %></title>
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/ripples.min.css" rel="stylesheet">
    <link href="/assets/material-wfont.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>

    <script src="/assets/jquery-1.11.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body id="main_body" style="height: 950px">
<!--Navigation Bar -->

<div class="navbar navbar-cents">
    <script>
        if (sessionStorage.getItem("colors"))
        {
            var c = jQuery.parseJSON(unescape(sessionStorage.getItem("colors")));
            $('.navbar-cents').css({"background-color":c["p_hex"]});
        }
    </script>
   
    <div class="navbar-header">
        <a href="/"><img class="cents-logo" src="/assets/logo trans white.png" height="109" width="259"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
        <!--check session variables to see if logged in -->
            <% if current_user %>
                <li><a id="profile_nav" href="/user/profile"><%= current_user.first_name.upcase %></a></li>
                <li><a id="logout_nav" onclick='cleanUp();' href="/user/logout">LOGOUT</a></li>
            <% else %>
                <li><a id="login_nav" href="/user/login">LOG IN</a></li>
                <li><a id="register_nav" href="/user/register">REGISTER</a></li>
            <% end %>
            <li><a id="home_nav" href="/">HOME</a></li>
            <li><a id="examples_nav" href="/info/examples">EXAMPLES</a></li>
            <li><a id="wizard_nav" href="/wizard/start">WIZARD</a></li>
            <li><a id="help_nav" href="/info/help">HELP</a></li>
            <li><a id="about_nav" href="/info/about">ABOUT</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ><img src="/assets/search white.png" height="15" width="15"></a>
                <ul class="dropdown-menu">
                    <form>
                        <input type="text" class="blank-search" id="drop-search">
                        <button class="arrow-button" onclick="api_request(document.getElementById('drop-search').value); return false;"><img src="/assets/arrow white.png" height="15" width="15"></button>
                    </form>
                </ul>
                <script>
                    if (sessionStorage.getItem("colors"))
                    {
                        var c = jQuery.parseJSON(unescape(sessionStorage.getItem("colors")));
                        $('.dropdown-menu').css({"background-color":c["p_hex"]});
                    }
                </script>
                
            </li>
        </ul>
    </div>
</div>

<div class="modal" id="disModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeModal()">×</button>
                <h4 class="modal-title">Disambiguation Alert!</h4>
            </div>
            <div class="modal-body">
                <p>Your search has returned more than two results. Please select two from this menu:</p>
                <div style="max-height: 400px; overflow-y: scroll">
                    <table id="disSelections"><tbody></tbody></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" data-dismiss="modal" class="btn btn-default" onclick="closeModal()">Cancel</button>
                <button type="button" id="sub" class="btn btn-primary">Select</button>
            </div>
        </div>
    </div>
</div>

<script>
function closeModal(){
    if(document.getElementById("loading") != null){
        $('#search-bar').removeAttr("hidden");
        $('#loading').attr("hidden", "true");
        $("#disSelections > tbody").html("");
    }
    $('#disModal').hide();
}
</script>



<!-- Your site ends -->
    <script src="/assets/ripples.min.js"></script>
    <script src="/assets/material.min.js"></script>
    <script>
        $(document).ready(function() {
            $.material.init();
        });
    </script>

    <script src="/assets/processing.js"></script>
    <script src="/assets/application.js"></script>
    <script src="/assets/jquery-ui.js"></script>
    <% if current_user %>
        <script>
            user_id = <%= current_user.id %>;

				    api_key = "<%= session[:api_key] %>";
        </script>   
    <% end %>

<%= yield %>

</body>
</html>
